

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
*{padding:0; margin: 0; box-sizing: border-box;}
body{ box-sizing: border-box; font-family: 'Rajdhani', sans-serif;}
.user-row { display: flex;   justify-content: center;}
.user-box {
    text-align: center;
    width: 25%;
    padding: 20px;
    margin: 0 15px;
    background: #ededed2b;
    background: #FFFFFF;
    box-shadow: 0px 0px 18px rgb(0 0 0 / 15%);
    border-radius: 20px;
}

header.App-header nav {
    background:#191919 !important;
    /* background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed); */ padding: 0;
}

.login-wrapper {
    background:#1E1E1E;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


header.App-header nav a.nav-link { padding: 0;  margin: 0 !important;}

.logout-btn {
    margin: 0;
    background:#232323;
    min-width: auto;
    box-shadow: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:#FDD835;
    border-radius: 0;
    padding: 20px 30px;
    height: auto;
}

.balance-token-btn{
    min-width: auto;
    box-shadow: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FDD835;
    border-radius: 0;
    padding: 20px 30px !important;
    height: auto;
}

.user-box img {
    height: 100px;
    margin-bottom: 20px;
    width: 100px;
    padding: 0;
    background: #f7f7f7;
    border-radius: 100%;
    object-fit: contain;
}

.home-heading h2 {
    text-align: center;
    margin: 40px 0 40px;
    color: #383838;
    font-weight: 700;
    font-size: 26px;
    line-height:33px;
}

a.navbar-brand {
    font-weight: 600;
    font-size: 31px;
    line-height: 1;
    color: #FDD835;
}

.btn {
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 30px;
    background: #FDD835;
    border: 1px solid #E5E5E5;
    color: #000;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 4%);
    border-radius: 10px; border: 0;
}

.btn:hover, .btn:active, .btn:focus {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: #000;
    background-color: #ffd000;
    border-color: #ffd000;
    box-shadow:0px 4px 4px rgb(0 0 0 / 50%) ;
}

.btn:disabled {
    color: #000;
    background-color: #FDD835;
    border-color: #FDD835;
}

.login-page {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #cccccc24;
    border-radius: 10px;
    padding: 30px 20px;
    background: #ededed2b;
    background: #FFFFFF;
    box-shadow: 0px 0px 45px rgb(0 0 0 / 15%);
    border-radius: 20px;
}

.login-page h2 {
    margin: 0 0 30px;
}

.login-page button { width: 100%; font-size: 17px; outline: none; height: 46px;}

.input-form input {
    padding: 13px 10px 12px;
    font-size: 13px;
    outline: none !important;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 4%) !important;
    border-radius: 5px;
    height: 50px; font-size:15px;
}

.input-form input::placeholder{color: #656565;}
.forgot-pwd-row {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #717171;
}

.forgot-pwd-row a{text-decoration: none;   color: #717171;}

.input-form select {
    background: #ffffff;
    border: 1px solid #cccccc4a;
    border-radius: 6px;
    padding: 13px 10px 12px;
    font-size: 13px;
    outline: none !important;
    box-shadow: none !important;
}

.login-page .btn-row {
    text-align: center;
    margin-bottom: 15px;
}

.login-sp-text {text-align: center; font-size: 14px;}

.login-page .form-label {
    margin-bottom: 0.5rem;
    font-size: 16px;
   
}
.input-form input::placeholder {color: #ccc;}
.login-page label {  color: #8d8d8d;}
.footer {
    /* position: relative !important; */
    margin-top: 0 !important;
    background: transparent;
    text-align: center; position: static !important;
}
.login-sp-text p {
    margin: 20px 0 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #2D2D2D; text-align: left;
}
p.nt-member a {text-decoration: none; color: #2d2d2d; font-weight: bold;}

.user-box button {width: 100%; min-width:100%;}
.footer .col {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #717171;
}

.pageData { padding: 0 !important;  min-height: 82vh;position: relative;}

.side-bar-menu {
    width: 220px;
    min-height: 100vh;
    background: #191919;
    border-radius: 0;
}
.dashboard-content {
    width: calc(100% - 220px);
    padding: 25px 25px 20px;
}
.side-bar-menu ul { padding: 0;}

.side-bar-menu h4 {
    border-bottom: 1px dotted #ccc;
    text-align: center;
    padding: 25px 0 25px;
    margin-bottom: 0;
    width: 100%;
}

.menu-user .user-img {
    width: 45px;
    height: 45px;
    border: 1px solid #232323;
    border-radius: 100%;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.user-img img {
    width: 100%;
    object-fit: cover;
}

.menu-user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 10px;
}

.menu-user p {
    margin: 0 0 0 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}

.side-bar-menu ul {  padding: 0;  text-align: left;  width: 100%; margin-bottom: 0;}
.side-bar-menu ul li { list-style: none; text-align: center; }
.side-bar-menu ul li button {
    width: 100%;
    text-align: left;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    padding: 20px 10px;
    margin: 0 !important;
    height: auto;
    text-align: center;
    width: 100% !important;
    min-width: 100%;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #BFBFBF;
}

.side-bar-menu ul li button.active{background:#232323;color: #FDD835;}


.btn.active:focus { outline: none !important; border: 0;  box-shadow: none;}
.main-data-row{display: flex; justify-content: space-between;}
.side-bar-menu .homepage-navigation { padding: 0;}
.side-bar-menu ul li button:hover { background: #232323;    color: #fff;}

.dashboard-content .page-heading { margin: 0 0 40px; padding:0;}
.dashboard-content  .dashboard-summary-details { padding: 0;  margin-top: 0;}
.dashboard-content .page-heading h2 {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: #383838;
}

.page-heading span {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #383838;
}

.dashboard-content .dashboard-summary-details .btn.btn-primary {
    width: 100%;
    margin-top: 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 45px rgb(0 0 0 / 15%);
    border-radius: 20px;
    padding: 25px 0;
}

.dashboard-content .dashboard-summary-details .btn.btn-primary p{font-weight: 500;
    font-size: 18px;
    line-height: 27px;    
    color: #383838;
}

.dashboard-content .dashboard-summary-details .btn.btn-primary img {
    height: 70px;
    margin: 0 0 15px;
}

.pageData { padding: 2% 2% 1%;}

.user-form-box {
     background: #FFFFFF;
    box-shadow: 0px 0px 24px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 20px 25px;
    margin-bottom: 30px;

}

.homepage-navigation button.btn span {
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
}

.nav-tabs .nav-link.active {
    background: #FFFFFF !important;
    box-shadow: 0px -9px 12px -4px rgb(0 0 0 / 6%) !important;
    border-radius: 10px 10px 0px 0px !important;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #2D2D2D;
    border: 0;
}

.nav-tabs .nav-link:hover {
    border: 0;
    background: #f5f5f5;
}

.tab-content { padding-top: 15px;}

.login-page li.nav-item {
    width: 50%;
}

.login-page .nav-tabs .nav-link {
    width: 100%; padding: 15px 10px 10px;;
}

.nav-tabs .nav-link
{

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;     
    color:#1E1E1E;    border:0;

}
.nav-tabs{border: 0 !important;}
.tab-content table th {background:#ededed2b;}
.tab-content table td {
    background: #232323;
    border: 1px solid #cccccc24;
    font-weight: 400;
    color: #000;
}

.tab-content table td:first-child {
    /* background: #ededed2b;
    border: 1px solid #cccccc24; */
    font-weight: 600;
    /* color: #5a5a5a; */
}

header.App-header nav {
    padding-left: 20px;
    /* padding-right: 20px; */
}

.dashboard-summary-details span.badge.bg-secondary {
    background: #ff9900 !important;
}

.side-bar-menu ul li button svg{ color: #BFBFBF;}

.side-bar-menu ul li button i {
    color: #BFBFBF;
    margin-right: 10px;
    /* width: 50px; */
    /* height: 50px; */
    border-radius: 100%;
    /* background: #fff; */
    line-height: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 26px;
    margin-bottom: 10px;
}

.side-bar-menu ul li button.active i {color:#fff;}
table th {
    background: #7D7D7D !important;
    border: 1px solid #fff !important;
    color: #fff !important;
    padding: 10px !important;
    vertical-align:middle;
    font-weight: 700;
font-size: 14px;
line-height: 21px;
}

 table td {
    background: #f1f1f1;
    border: 1px solid #fff !important;
    font-weight: 500;
   padding:10px !important;vertical-align: middle;
    font-weight: 400;
font-size: 14px;
color: #000000;
}

/* table .btn {
    padding: 10px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    color: #000000;
    background: transparent;
    margin: 0 5px 0 0;
}

table .btn:hover{background: transparent; box-shadow: none !important; outline: none !important;} */


table .btn {
    padding: 10px 15px;
    font-weight: 400;
    font-size: 14px;
    margin: 0 5px 0 0;
}

table .btn:hover{ box-shadow: none !important; outline: none !important;}


.save-all-change {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.save-all-change .color-red {
    color: #f50000;
}

.title-heading h4 {padding: 0 0 15px !important; border-bottom: 1px dotted #ccc; margin: 20px 0 40px; margin-left: 0;}
.add-new-access-form button {
    margin-top: 0;
    float: right;
}
.user-row-ht {min-height: calc(100vh - 267px);}
.save-all-change button {
    margin-top: 0;
    margin-left: 15px;
}

.document-box {
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    text-align: center;
    padding: 50px;
    position: relative;
}

.document-box .cls-btn {
    position: absolute;
    right: 20px;
    top: 20px; cursor: pointer;
}

.side-bar-footer {
    border-top: 1px solid #232323;
    padding: 20px 0 20px;
}

.side-bar-footer .col {
    font-weight: 500;
    font-size: 11px;
    line-height: 21px;
    color: #626262;
}

.document-row {
    margin-top: 20px;
}

.heading-btn-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-tab .nav-item button {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #2D2D2D;
    border-radius: 0; padding: 15px 20px;
    border: 0;
    margin-bottom: 1px;
}

table td:first-child {
    font-weight: 700;
}

.heading-btn-row button {
    height: 46px;
    /* top: 101px; */
    background: #4e4e4e  !important;
    border-radius: 30px;
    outline: none !important;
}

.add-new-access-form {
    background: #FFFFFF;
    box-shadow: 0px 0px 24px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 25px 25px; margin-bottom:30px;
}

.add-new-access-form .btn {
        padding-left: 40px !important;
        padding-right: 40px !important;
}

.upload-file {
    display: flex;
    align-items: center;
}

button.delete-td.btn.btn-danger {
    text-align: center;
    color: #FF5A79ed;
    width: 100%;
}

table button.delete-td.btn.btn-danger {
    padding: 10px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 40px;
    background: transparent;
    margin: 0 5px 0 0;
}

table button.delete-td.btn.btn-danger:hover{background: transparent; box-shadow: none !important; outline: none !important;}



.add-new-access-form h3 {
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    text-transform: lowercase;
    color: #3E3C3C; margin-bottom:10px;
}

.file-icn {
    width:34px;
    height:34px;
    background: #F2F2F2;
    line-height: 34px;
    text-align: center;
    color: #AEAEAE; margin-right:15px;
}

.upload-file .input-form input {
    padding: 10px;
    /* margin: 0 !important; */
    box-shadow: none !important;
    border: 0 !important;
    margin-left: 15px !important; height: 44px;
}

.add-table{padding: 0;}

.upload-file .input-form input {
    padding: 10px;
    margin: 0 !important;
    box-shadow: none !important;
    border: 0 !important;
}

.table-tab .nav-item button.active {color: #fff;  background: #7d7d7d !important;  border-radius: 0 !important; box-shadow: none !important;} 
.table-tab th {
    border-top: 0 !important;
    border-left: 0 !important;
}

.table-tab .tab-content {
    padding: 0 !important;
}

.table-tab table {
    border-top: 1px solid #7d7d7d !important;
}

.toggle{display: none;}
input#side { display: none;}

.homepage-pageData { padding: 0; margin:0}


.footer-popup {border-top: 1px dotted #e7e7e7 !important;}
.popup-body {padding: 10px 20px 20px !important;}

button.navbar-toggler {border: 1px solid #fff !important; outline: none;}

.banner-input.form-group {margin-bottom: 0;}
.banner-form {width: 420px; margin-top: 140px;}

@media screen and (max-width: 1024px) {   
.toggle{display: block;}
.side-bar-menu { width: 190px;}

.page-wrap { overflow-x: hidden; line-height: 26px; }  
  .page-content {width:100%;  position: relative;  z-index: 0;  padding: 20px 10px 20px 10px; -webkit-transition: 0.6s;  -moz-transition: 0.6s;  transition: 0.6s;  }
    .toggle { -webkit-transition: 0.5s; -moz-transition: 0.5s; transition: 0.5s; text-decoration: none;  font-size: 35px; color: black; z-index: 1;  }
  .toggle:hover { color: RGB(179, 2, 35);  }  
  .sidebar {  position: absolute;  top: 0px;  right: 0; bottom: 0px;  left: -190px;  -webkit-transition: 0.6s; -moz-transition: 0.6s; transition: 0.6s; z-index: 0;  }
  .sidebar li { -webkit-font-smoothing: antialiased; -webkit-transition: 1s; -moz-transition: 1s; transition: 1s; list-style: none; }
   #side { display: none;  }
  #side:checked + .page-wrap .sidebar { transform: translateX(190px); }
  /* #side:checked + .page-wrap .sidebar li {  font-size: 16px;  } */
  #side:checked + .page-wrap .page-content { transform: translateX(190px);  }
  label.toggle {
    /* border: 1px solid; */
    width: 40px;
    padding: 4px;
    font-size: 27px;
    height: 36px;
    text-align: center;
    line-height: 26px;
    border-radius: 5px;
    background: #4283ea;
    color: #fff; margin-bottom:10px;
}

} 




@media screen and (max-width:991px) 
{  
.add-table {width: 100%; overflow-x: auto; }
.add-table table {width: 1200px;}
.user-box {width: 40%;}

.side-bar-menu ul li button i {font-size: 20px; margin-bottom: 4px;}
.side-bar-menu ul li button { padding: 10px 8px;  line-height: 1;}
.menu-user .user-img {width: 60px; height: 60px;}
header.App-header nav { padding: 10px 15px;}
.side-bar-footer .col {font-size: 11px;line-height: 15px;}
.dashboard-content .page-heading{flex-wrap: wrap;}

}    

@media screen and (max-width: 767px) 
{  

.banner-form {width: 420px; margin-top: 0;} 
.dashboard-content {width: 100%; }
.dashboard-summary-details .btn { margin-bottom: 20px;}
#side:checked + .page-wrap .sidebar { transform: translateX(130px);}
#side:checked + .page-wrap .page-content {transform: translateX(130px);}
.sidebar {left: -130px;}
.side-bar-menu {width: 125px}
.side-bar-menu ul li button i {font-size: 20px; margin-bottom: 4px;}
.side-bar-menu ul li button { padding: 10px 8px;  line-height: 1;}
.menu-user .user-img {width:40px; height:40px;}
a.navbar-brand {font-size: 20px;}

.user-box { width:50%;  padding: 20px 10px;  margin: 0 5px;}
.user-row { margin: 0 -5px;}
.offset-3 { margin-left:0 !important;}

.why-shabd-accordion .accordion {position: relative; margin: 0px auto 20px;}
.add-new-access-form button {
    margin-top: 10px;
    float: left;
}

.menu-user{flex-wrap: wrap;}
.side-bar-menu ul li button{font-size:12px;}
.menu-user p{font-size:12px; width:100%;}


}    